@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.wrapper {
  background-image: url(../../assets/perlin-noise-3d.png);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper__inner-layout {
  border: 2px ridge #000;
  box-shadow: 0px 0px 5rem #000;
}
.wrapper__inner-layout .header {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5019607843);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5019607843);
}
.wrapper__inner-layout .header__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}
.wrapper__inner-layout .navigation__list {
  font-weight: 800;
}
.wrapper__inner-layout .navigation__list-item {
  transition: color 0.5s;
}
.wrapper__inner-layout .navigation__list-item:hover {
  color: #686868;
}
.wrapper__inner-layout .navigation__list .selected {
  color: transparent;
}
.wrapper__inner-layout .navigation__list .selected::before {
  color: black;
  content: "⚫";
  font-size: 0.5rem;
}
.wrapper__inner-layout .main .home__heading {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}
.wrapper__inner-layout .main .home__bio {
  line-height: 1.2rem;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5019607843);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5019607843);
}
.wrapper__inner-layout .main .projects {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5019607843);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5019607843);
}
.wrapper__inner-layout .main .about {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5019607843);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5019607843);
}
.wrapper__inner-layout .main .contact {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5019607843);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5019607843);
}

.wrapper {
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__inner-layout {
  height: 95vh;
  width: 96.5vw;
  display: grid;
  justify-content: stretch;
}
.wrapper__content {
  padding: 1rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
  gap: 2.5rem;
  grid-template-areas: "header ." "menu main";
}
.wrapper__content .header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.wrapper__content .navigation {
  grid-area: menu;
}
.wrapper__content .navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.wrapper__content .main {
  grid-area: main;
}
.wrapper__content .main .flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.wrapper__content .main .flex-container .home {
  min-width: 7.5rem;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: "Inconsolata", monospace;
  list-style: none;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */