@use './fonts';

$font-face-monospace: 'Inconsolata', monospace;
$font-face-sans-serif: 'Roboto Condensed', sans-serif;

$color-dark: #000;
$color-medium: #686868;

$color-dark-transparent: #00000080;
$color-light-transparent: #ffffff80;

$margin-inner-layout: 1.25rem;